/*-- scss:defaults --*/
$navbar-bg: #153448;
$navbar-fg: #F0F0F0;

$link-color: #EFE9D5;
$hover-color: lighten($link-color, 40%);

/*-- scss:rules --*/
.flex-inline {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}
.sidebar-div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.callout-div {
  margin-top: auto;
}

.callout.callout-style-default .callout-body {
  font-size: .65rem;
}

.callout-note a {
  color: black;
  text-decoration: underline;

  &:hover {
    color: darkgray; 
  }
}