/*-- scss:defaults --*/
$navbar-bg: #153448;
$navbar-fg: #F0F0F0;

$link-color: #EFE9D5;
$hover-color: lighten($link-color, 40%);

/*-- scss:rules --*/
//.nav-tabs {
//  margin-left: 0;
//  margin-right: auto;
//}


